.main {
  margin: 0;
  width:100%;
  position: absolute;
  left:0;
  right:0;
  top: 50%;
    transform: translateY(-50%);
}

.title {
	display:flex;
    justify-content:center;
    align-items:center;
    font-size: 40px;
	color: white;
}

#lives {
  position:absolute;
  left: 0px;
  top: 0px;
}

#points {
  display:absolute;
  width:100%;
  font-size: 30px;
  text-align: center;
	color: white;
}